# Node
node_modules/
npm-debug.log
yarn-error.log


# Go
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
 
# Ignore all JS build output and declaration files in gen/ts
gen/ts/**/*.js
gen/ts/**/*.d.ts
gen/ts/**/*.js.map
gen/ts/**/*.d.ts.map
/gen/openapi/

buf.lock
