# Override protobuf file detection
gen/go/**/*.pb.go linguist-generated=false linguist-language=Go
gen/go/**/*.pb.ts linguist-generated=false linguist-language=TypeScript
gen/ts/**/*.ts linguist-generated=false linguist-language=TypeScript